{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickDash |Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
</head>
<body>
    <div class="cart-item-container">
        <h2>Cart (numc)</h2>
        <hr class="section-divider">
        {% set ns = namespace(total_price=0) %}
        {% for cart_item in cart_items %}
        <!-- Cart item -->
        <div class="cart-item">
            <div class="top-section">
                <div class="prod-details">
                    <img src="{{ cart_item.img_url }}" alt="" class="prod-img">
                    <div class="prod-title">
                        <div class="prod-name">{{ cart_item.dish }}</div>
                        <div class="seller"><span class="seller-name">Seller: </span> Lorem, ipsum.</div>
                        <div class="price small">₦ {{ cart_item.price }}</div>
                    </div>
                </div>
                <div class="price big">₦ {{ cart_item.price }}</div>
            </div>
            <div class="bottom-section">
                <div class="remove">
                    <a href="{{ url_for('remove_item', item_id=cart_item.item_id) }}" class="rem-button btn">
                        <img src="{{ url_for('static', filename='icons/remove.svg') }}" alt="" class="rem-icon icon">
                        Remove
                    </a>
                </div>
                <div class="add-sub">
                    <a href="#" class="sub btn">-</a>
                    <input type="text" class="quantity" value="{{ cart_item.quantity }}" disabled>
                    {% set ns.total_price = ns.total_price + (cart_item.price * cart_item.quantity) %}
                    <a href="#" class="add btn">+</a>
                </div>
            </div>
        </div>
        <hr class="section-divider">
         <!-- End of Cart item -->
        {% endfor %}
    </div>
    <div class="summary-container">
        <h2>Cart Summary</h2>
        <hr class="section-divider">
        <div class="subtotal">
            <span>Subtotal</span>
            <div class="total">₦ {{ ns.total_price }}</div>
        </div>
        <hr class="section-divider">
        <a href="#" class="btn">Checkout ({{ ns.total_price }}) </a>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
