{% include "header.html" %}
 <!-- Card Section -->
     <section class="card-section">
        <h1>Explore Categories</h1>
        <div class="cards">

            <div class="card restaurant">
                <img src="{{ url_for('static', filename='icons/restaurant-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">Restaurant</span>
            </div>

            <div class="card supermarket">
                <img src="{{ url_for('static', filename='icons/shopping-basket-supermarket-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">Supermarket</span>
            </div>

            <div class="card pharmacy">
                
                <img src="{{ url_for('static', filename='icons/hospital-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">Pharmacy</span>
            </div>

            <div class="card drinks">
                <img src="{{ url_for('static', filename='icons/drink-soft-drink-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">Drinks</span>
            </div>

            <div class="card retail">
                <img src="{{ url_for('static', filename='icons/shopping-store-shopper-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">Retails</span>
            </div>

            <div class="card african-meals">
                <img src="{{ url_for('static', filename='icons/food-hor-mok-svgrepo-com.svg') }}" alt="" class="card-icon">
                <span class="card-name">African Meals</span>
            </div>

        </div>
     </section>
     <!-- End of Card Section -->

      <!-- Featured Dishes Section -->
        <section id="featured-dishes">
            <div class="restaurant-dishes">
                {% for item in all_items %}
                <!-- Dish Card Item -->
                <div class="dish-item">
                    <div class="top-dish-section">  
                        <img src="{{ item.img_url }}" alt="" class="dish-img">
                    </div>
                    <div class="bottom-dish-section">
                        <div class="name-rating-section">
                            <span class="dish-name">{{ item.dish }}</span>
                            <span class="dish-rating">
                                <span class="dish-rate">{{ item.rating }}</span>
                                <span class="star-emoji">&#9733;</span>
                            </span>
                        </div>
                        <div class="delivery-time-section">
                            <span class="time-icon-container"> 
                                <img src="{{ url_for('static', filename='icons/time-svgrepo-com.svg') }}" alt="" class="time-icon">
                            </span>
                            <span class="time-duration">
                                {{ item.time }}
                            </span>
                        </div>
                    </div>
                    
                    <div class="add-cart">
                        <a href="{{ url_for('add_to_cart', id=item.id) }}">
                            <img src="{{ url_for('static', filename='icons/plus-svgrepo-com.svg') }}" alt="" class="add-cart-icon">
                        </a>
                        <span class="hover-text">Add to Cart</span>
                    </div>
                </div>
                <!-- End of Dish Card Item -->
                {% endfor %}
            </div>
        </section>
       <!-- End of Featured Dishes Section -->

       
 <script src="scripts/main.js"></script>
</body>
</html>
