{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>QuickDash | Profile</title>
</head>
<body>
    <div class="account-details">
        <img src="{{ url_for('static', filename='icons/user-profile-img.svg') }}" alt="" class="user-profile-img">
        <h3 class="user-name det">Username: <span class="details">{{ name }}</span></h3>
        <h3 class="user-email det">Email: <span class="details">{{ email }}</span></h3>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>