#featured-dishes {
    width: 85%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.restaurant-name {
    font-weight: 300;
    font-style: normal;
}

.restaurant-dishes {
    display: grid;
    grid-template-columns: 305px 305px 305px;
    gap: 3%;
}


.dish-item {
    max-width: 305px;
    max-height: 298px;
    border-radius: 3%;
    padding: 6px;
    transition: box-shadow 0.5s;
}

.dish-item:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-dish-section {
    width: 100%;
    height: 60%;
    margin-bottom: 15px;
}

.dish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3%;
}

.bottom-dish-section {
    display: flex;
    flex-direction: column;

}

.name-rating-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.dish-name {
    font-weight: 400;
    font-size: 17px;
}

.dish-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.star-emoji {
    color: gold;
    height: 18px;
    margin-left: 3px;
}

.delivery-time-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-icon {
    width: 15px;
    margin-right: 5px;
}

.time-duration {
    color: #0077C0;
    font-weight: 200;
}

/* RESPONSIVENESS */
@media (min-width: 1300px){
    .restaurant-dishes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
}


@media (max-width:950px){
    .restaurant-dishes {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .restaurant-dishes {
        grid-template-columns: 1fr;

    }
    .dish-item {
        margin-bottom: 20px;
        max-width: 100% ;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .dish-item:active {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
}
