#navbar {
    display: none;
}

@media (max-width: 500px) {
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FAFAFA;
        gap: 10px;
        position: fixed;
        bottom: 3px;
        left: 0;
        right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-link{
        width: 70px;
        height: 70px;
        color: #1D242B;
    }


    .nav-item {
        display: flex;
        flex-direction: column;
        max-width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #d4f2ff;
        align-items: center;
        color: #1D242B;
        justify-content: center;
        flex: 1;
        transition: background-color 0.35s, color 0.35s;
    }



    .nav-item:active {
        background-color: #0077C0;
        color: #FAFAFA;
    }

    .nav-icon {
        width: 36px;
        height: 30px;
    }
    
    .nav-text {
        font-weight: 600;
        font-size: 14px;
    }

    .help-icon-container {
        display: none;
    }
}

/* Help Icon Styles */
.help-icon-container {
    padding: 2px;
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0077C0;
    border-radius: 50%;
}

.help-icon-container:hover {
    cursor: pointer;
}

.help-icon {
    width: 100%;
}
