<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <style>
        body::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("{{url_for('static', filename='images/bg-food.jpg')}}"), #0077C0;
            background-position: right;
            background-size: cover  ;
        }
    </style>
    <title>Join QuickDash | Sign Up Today!</title>
</head>
<body class="flxcent">
    <div class="form-container">
        <h2 class="title">REGISTER</h2>
        <form action="{{ url_for('main.register') }}" method="post" class="flx">
            <div class="input-field">
                <!-- <input type="text" name="username" required>
                <label>Username</label> -->
                {{ form.username }}
                {{ form.username.label }}
            </div>
            <div class="input-field">
                <!-- <input type="email" name="email" required>
                <label>Email</label> -->
                {{ form.email }}
                {{ form.email.label }}
            </div>
          
            <div class="input-field">
                <!-- <input type="password" name="password" minlength="8" required>
                <label>Password</label> -->
                {{ form.password }}
                {{ form.password.label }}
            </div>
            {% with errors = get_flashed_messages(category_filter=['error']) %}
            {% if errors %}
            {% for err in errors %}
            <p style="color: #FAFAFA;">{{ err }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <button onclick="alert('A verification code has been sent to your email')" type="submit" style="margin-top: 15px;">REGISTER</button>
            <div class="login flxcent">
                <p>Have an account?</p><a href="{{ url_for('main.login') }}">Sign In</a>
            </div>
        </form>
    </div>
</body>
</html>